header{
    background-color: rgb(18, 82, 145);
    width: 100%;
    border-radius: 10px;
    padding: 10px auto;
}
.nav-menu{
    display: flex;
}

.nav-title{
    color: white;
    margin: auto -5px;
    padding-left: 20px;
}

.nav-menu li{
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 10px 10px ;
}

.top{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 350px;
    border: 1px dotted black;
    margin: 5px;
}

.bottom-flex{
    display: flex;
}

.bottom-title{
    display: block;
}

.bottom-box{
    width: 49%;
    margin: 10px;
    background-color: coral;
    height: 100px;
}
