body{
    background-color: rgb(241, 237, 233);
}

h1{
    text-align: center;
    columns: rgb(67, 66, 66);
}

.container {
    display: flex;
    gap: 10px 10px;
}
.hover-effect{
    display: inline-block;
    text-align: start;
    
         border-radius: 10px;
         padding-bottom: 20px 50px;
         font-size: small;
         margin-bottom: 50px;
         width: 50%;
         min-width: 350px;
         box-sizing: border-box;
         background-color: aliceblue;
}
.grow {
    background-color: green;
    color: white;
    border: none;
    transition: transform 0.3s;
}

.grow:hover {
    transform: scale(1.2);
}

.color {
    background-color: green;
    color: white;
    border: none;
   

}
.color:hover {
    background-color: rgb(7, 8, 105);
}

.shadow {
    background-color: green;
    color: white;
    border: none;
    
    
}
.shadow:hover {
box-shadow: 0 0 10px;


}
.fade:hover {
     box-shadow: black;
     padding: 1px;
}
.animation{
    display: block;
    
         border-radius: 10px;
         padding: 50px;
         font-size: small;
         margin-bottom: 50px;
         width: 50%;
         min-width: 350px;
         box-sizing: border-box;
         background-color: aliceblue;
}
.pseudo-classes{
    display: block;
   
         border-radius: 10px;
         padding: 50px;
         font-size: small;
         margin-bottom: 50px;
         width: 50%;
         min-width: 350px;
         box-sizing: border-box;
         background-color: aliceblue;
}
.pseudo-elements{
    display: block;
         border-radius: 10px;
         padding: 50px;
         font-size: small;
         margin-bottom: 50px;
         width: 50%;
         min-width: 350px;
         box-sizing: border-box;
         background-color: aliceblue;
}